.container{
    width: 100%;
    height: 100%;
    padding: 2rem 3rem;
}
.updateList{
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
}
.inputItem{
    height: 3rem;
    margin: 0.7rem 0;
   border: 1.38px solid #D0D0D0;
   outline: none;
   border-radius: 10px;
   padding: 0 4rem;
   font-size: 1rem;
    width: 30rem;
}
.name{
    padding-left: 2.5rem;
    background: url("C:\Users\susma\OneDrive\Desktop\TaskManagementApp\frontend\src\assets\name.png") no-repeat left;
    
    background-size: 1.7rem;
    background-position: 0.4rem 0.5rem;
}
.email {
    padding-left: 2.5rem;
    background: url("C:\Users\susma\OneDrive\Desktop\TaskManagementApp\frontend\src\assets\email.png") no-repeat left;
    background-size: 1.7rem;
    background-position: 0.4rem 0.5rem;
  }
.password {
    padding-left: 2.5rem;
    background: url("C:\Users\susma\OneDrive\Desktop\TaskManagementApp\frontend\src\assets\lock.png") no-repeat left;
    background-size: 1.7rem;
    background-position: 0.4rem 0.4rem;
  }
  .errorMessage{
    color: #CF3636;
  }
  .updateBtn{
    border: none;
    outline: none;
    background-color: #17A2B8;
    color: white;
    border-radius: 2.2rem;
    height: 2.8rem;
    letter-spacing: 0.03rem;
    font-size: 1rem;
    cursor: pointer;
    width: 30rem;
    margin-top: 3rem;
}