.container{
    width: 100%;
    padding: 1rem;
}
.card{
    background-color: white;
}
.cardNav{
    display: flex;
    align-items: center;
}

.priorityColor{
    width: 0.6rem;
    height: 0.6rem;
    background-color: #FF2473;
    border-radius: 50%;
}
.checkList{
    display: flex;
}